################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reports-DevEpress-Galeery/bin/Debug/netcoreapp3.1
